/*done Clean code */

.drivingEfficiencyIn {
  margin: 0;
  align-self: stretch;
  height: 100px;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.catalyzingEnhancedEfficiency {
  width: 560px;
  height: 162px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 27px;
  font-family: var(--font-dm-sans);
  color: var(--color-darkslategray);
  display: inline-block;
  max-width: 100%;
}
.sustainabilityText,
.sustainabilityTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.sustainabilityText {
  align-self: stretch;
  gap: var(--gap-xl);
}
.sustainabilityTextWrapper {
  width: 599px;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  min-width: 599px;
}
.frameGroupIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.189);
}
.rectangleTextIcon,
.wrapperFrameGroup {
  position: absolute;
  left: 0;
  border-radius: var(--br-3xs);
}
.wrapperFrameGroup {
  top: 0;
  width: 623px;
  height: 318px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangleTextIcon {
  top: 0.4px;
  width: 605px;
  height: 336.6px;
  object-fit: cover;
  z-index: 1;
}
.projectDetails {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.projectDetailsWrapper {
  height: 337px;
  width: 623px;
  position: relative;
  min-width: 623px;
  max-width: 100%;
}
.gettingStartedGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-base) 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.wrapperGroup33400Child {
  height: 100%;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  min-width: 413px;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: scale(1.174);
}
.wrapperGroup33400 {
  height: 344px;
  flex: 1;
  position: relative;
  min-width: 413px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sustainabilityAndCompliance {
  margin: 0;
  align-self: stretch;
  height: 100px;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.luxaEmpowersEngineering {
  width: 560px;
  height: 108px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 27px;
  font-family: var(--font-dm-sans);
  color: var(--color-darkslategray);
  display: inline-block;
  max-width: 100%;
}
.sustainabilityAndComplianceParent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.frameWrapper,
.sustainabilityAndComplianceParent,
.wrapperGroup33400Parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameWrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
  min-width: 413px;
}
.wrapperGroup33400Parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap-49xl);
}
.howDoesLuxaHelpFrame {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-54xl);
}
.fAQsFrame,
.howDoesLuxaHelpFrame,
.rectangle {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.fAQsFrame {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-101xl);
}
.rectangle {
  width: 1400px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-22xl) 0 var(--padding-xl);
  box-sizing: border-box;
  min-height: 1372px;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--font-clash-display);
}
.faqsByEngineering,
.howDoesLuxa {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-family: inherit;
}
.faqsByEngineering {
  font-weight: 400;
  display: inline-block;
  max-width: 100%;
}
.fAQs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.fAQs {
  width: 1358px;
  align-items: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-59xl);
  min-height: 1047px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-26xl);
  color: var(--color-black);
  font-family: var(--font-clash-display);
}
.resourcesIndustryEngineer {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--primary-linear-color);
  font-family: var(--font-dm-sans);
}
@media screen and (max-width: 1325px) {

}
@media screen and (max-width: 1125px) {

}
@media screen and (max-width: 800px) {
  .drivingEfficiencyIn {
    font-size: var(--font-size-9xl);
    line-height: 40px;
  }
  .projectDetailsWrapper,
  .sustainabilityTextWrapper,
  .wrapperGroup33400Child {
    min-width: 100%;
  }
  .sustainabilityAndCompliance {
    font-size: var(--font-size-9xl);
    line-height: 40px;
  }
  .frameWrapper {
    min-width: 100%;
  }
  .wrapperGroup33400Parent {
    gap: var(--gap-15xl);
  }
  .howDoesLuxaHelpFrame {
    gap: var(--gap-17xl);
  }
  .fAQsFrame {
    gap: var(--gap-41xl);
  }
  .faqsByEngineering {
    font-size: var(--font-size-17xl);
    line-height: 40px;
  }
  .fAQs {
    gap: var(--gap-20xl);
  }
  
}
@media screen and (max-width: 450px) {
  .drivingEfficiencyIn,
  .sustainabilityAndCompliance {
    font-size: var(--font-size-2xl);
    line-height: 30px;
  }
  .wrapperGroup33400Parent {
    gap: var(--gap-mid);
  }
  .howDoesLuxaHelpFrame {
    gap: var(--gap-lg);
  }
  .fAQsFrame {
    gap: var(--gap-11xl);
  }
  .faqsByEngineering {
    font-size: var(--font-size-8xl);
    line-height: 30px;
  }

  .fAQs {
    gap: var(--gap-lgi);
  }
}
