.resourcesIndustryConstrucChild {
  width: 147px;
  position: relative;
  border-radius: var(--br-3xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  height: 54px;
  display: none;
}
.learnMore {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 27px;
  font-weight: 500;
  white-space: nowrap;
}
.groupChild {
  position: absolute;
  top: 14px;
  left: 99px;
  width: 32px;
  height: 0;
}
.learnMoreParent {
  width: 131px;
  height: 27px;
  position: relative;
  display: none;
}
.learnMore1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 27px;
  font-weight: 500;
  white-space: nowrap;
}
.groupItem {
  position: absolute;
  top: 14px;
  left: 99px;
  width: 32px;
  height: 0;
}
.learnMoreGroup {
  width: 131px;
  height: 27px;
  position: relative;
  display: none;
}
.learnMore2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 27px;
  font-weight: 500;
  white-space: nowrap;
}
.groupInner {
  position: absolute;
  top: 14px;
  left: 99px;
  width: 32px;
  height: 0;
}
.learnMoreContainer {
  width: 131px;
  height: 27px;
  position: relative;
  display: none;
}
.learnMore3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 27px;
  font-weight: 500;
  white-space: nowrap;
}
.arrowIcon {
  position: absolute;
  top: 14px;
  left: 99px;
  width: 32px;
  height: 0;
}
.groupDiv {
  width: 131px;
  height: 27px;
  position: relative;
  display: none;
}
.learnMore4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 27px;
  font-weight: 500;
  white-space: nowrap;
}
.groupChild1 {
  position: absolute;
  top: 14px;
  left: 99px;
  width: 32px;
  height: 0;
}
.learnMoreParent1 {
  width: 131px;
  height: 27px;
  position: relative;
  display: none;
}
.lEEDServices {
  width: 1400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-22xl) 0 var(--padding-xl);
  box-sizing: border-box;
  min-height: 1852px;
  max-width: 100%;
}
.learnMore5 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 27px;
  font-weight: 500;
  white-space: nowrap;
}
.groupChild2 {
  position: absolute;
  top: 14px;
  left: 99px;
  width: 32px;
  height: 0;
}
.feature01Icon,
.feature02Icon,
.learnMoreParent2 {
  width: 131px;
  height: 27px;
  position: relative;
  display: none;
}
.feature01Icon,
.feature02Icon {
  width: 54px;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
}
.footerChild {
  width: 1920px;
  height: 629px;
  position: relative;
  background-color: var(--color-seagreen-200);
  display: none;
  max-width: 100%;
}
.more,
.readyToFind {
  margin: 0;
}
.emailOutreachprojectluxaor,
.readyToFindContainer {
  margin: 0;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.readyToFindContainer {
  align-self: stretch;
  height: 130px;
  font-size: inherit;
  line-height: 65px;
  font-family: inherit;
  display: inline-block;
}
.emailOutreachprojectluxaor {
  font-size: var(--font-size-3xl);
  font-family: var(--font-dm-sans);
}
.readyToFindOutMoreParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-30xl);
}
.callUs123 {
  height: 29px;
  position: relative;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  font-family: var(--font-dm-sans);
  display: inline-block;
  z-index: 1;
}
.fAQs {
  width: 339px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  min-width: 339px;
  max-width: 100%;
}
.services {
  margin: 0;
  height: 31px;
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 400;
  font-family: var(--font-clash-display);
  display: inline-block;
  z-index: 1;
}
.leedCertificationManagement {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.leedCertificationManagementContainer {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.scope123EmissionManag {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.scope12Container {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.dataAnalyticsInsights1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.dataAnalyticsContainer {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.environmentalImpactAssessmen {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.environmentalImpactAssessmenContainer {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.scopeEmissionManagement {
  align-self: stretch;
  gap: var(--gap-15xl);
}
.callUs,
.dataAnalyticsInsights,
.scopeEmissionManagement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.callUs {
  align-self: stretch;
  gap: var(--gap-20xl);
}
.dataAnalyticsInsights {
  flex: 1;
  gap: var(--gap-15xl);
  min-width: 195px;
}
.resources {
  margin: 0;
  height: 31px;
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 400;
  font-family: var(--font-clash-display);
  display: inline-block;
  z-index: 1;
}
.contactUs1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.contactUs {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.ourStory1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.ourStory {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.privacyPolicies {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.privacyPoliciesContainer {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.termsConditions {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.termsConditionsContainer {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.careers1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.careers {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.contactUsOurStoryPrivacyP {
  flex-direction: column;
  gap: var(--gap-15xl);
  min-width: 173px;
}
.contactUsOurStoryPrivacyP,
.luxaCommunity,
.partnerPortal,
.servicesHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.partnerPortal {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-17xl);
}
.luxaCommunity,
.servicesHeader {
  max-width: 100%;
}
.servicesHeader {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
  min-width: 331px;
  font-size: var(--font-size-base);
  font-family: var(--font-dm-sans);
}
.luxaCommunity {
  width: 956px;
  flex-direction: row;
  gap: var(--gap-89xl);
}
.partners {
  margin: 0;
  height: 31px;
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 400;
  font-family: var(--font-clash-display);
  display: inline-block;
  z-index: 1;
}
.becomeAPartner {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.becomeAPartnerContainer {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.partnerPortal2 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.partnerPortal1 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.getInTouch {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.getInTouchContainer {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.becomeAPartnerPartnerPorta {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-15xl);
}
.becomeAPartnerPartnerPorta,
.line,
.luxaCommunityParent {
  display: flex;
  align-items: flex-start;
}
.line {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-lgi) 0 0;
  font-size: var(--font-size-base);
  font-family: var(--font-dm-sans);
}
.luxaCommunityParent {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.footerInner,
.footerItem {
  box-sizing: border-box;
  max-width: 100%;
}
.footerInner {
  width: 1317px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-19xl) 0 0;
}
.footerItem {
  width: 1273px;
  height: 3px;
  position: relative;
  border-top: 3px solid var(--color-gray-300);
  z-index: 1;
}
.allRightsReserved,
.span {
  font-weight: 500;
}
.luxaTechnologiesIncContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
  font-family: inherit;
}
.readyToFindOutMoreEmailou1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.linkedinIcon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 22px;
  height: 22px;
  z-index: 2;
}
.readyToFindOutMoreEmailouParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 52px;
  flex: 1;
  position: relative;
  min-width: 51px;
  max-width: 52px;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.twitterIcon {
  position: absolute;
  top: 15px;
  left: 14px;
  width: 25px;
  height: 22px;
  z-index: 2;
}
.ellipseParent {
  height: 52px;
  flex: 1;
  position: relative;
  min-width: 51px;
  max-width: 52px;
}
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.facebookIcon {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 13px;
  height: 22px;
  z-index: 2;
}
.ellipseGroup {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 52px;
  flex: 1;
  position: relative;
  min-width: 51px;
  max-width: 52px;
}
.frameInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.whatsappIcon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 22.1px;
  height: 22px;
  z-index: 2;
}
.ellipseContainer {
  height: 52px;
  flex: 1;
  position: relative;
  min-width: 51px;
  max-width: 52px;
}
.ellipseDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.youtubeIcon {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 32.6px;
  height: 22px;
  z-index: 2;
}
.frameDiv {
  height: 52px;
  flex: 1;
  position: relative;
  min-width: 51px;
  max-width: 52px;
}
.linkedInTwitterFacebookWha {
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.readyToFindOutMoreEmailou {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.footer,
.footer1,
.resourcesIndustryConstruc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer1 {
  width: 1317px;
  height: 93px;
  gap: var(--gap-22xl);
  max-width: 100%;
  font-size: var(--font-size-3xl);
  color: var(--color-gainsboro-100);
  font-family: var(--font-dm-sans);
}
.footer,
.resourcesIndustryConstruc {
  text-align: left;
}
.footer {
  align-self: stretch;
  background-color: var(--color-seagreen-200);
  padding: var(--padding-52xl) var(--padding-xl) var(--padding-41xl)
    var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  max-width: 100%;
  z-index: 1;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-clash-display);
}
.resourcesIndustryConstruc {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  letter-spacing: normal;
  font-size: var(--font-size-base);
  color: var(--primary-linear-color);
  font-family: var(--font-dm-sans);
}
@media screen and (max-width: 1325px) {
  .luxaCommunityParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .fAQs {
    flex: 1;
  }
  .luxaCommunity {
    flex-wrap: wrap;
    gap: var(--gap-35xl);
  }
  .readyToFindOutMoreEmailou {
    flex-wrap: wrap;
  }
  .footer1 {
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .readyToFindContainer {
    font-size: var(--font-size-13xl);
    line-height: 52px;
  }
  .contactUsOurStoryPrivacyP {
    flex: 1;
  }
  .partnerPortal {
    flex-wrap: wrap;
    gap: var(--gap-lg);
  }
  .luxaCommunity {
    gap: var(--gap-8xl);
  }
  .footer1 {
    gap: var(--gap-xl);
  }
  .footer {
    gap: var(--gap-21xl);
    padding-top: var(--padding-27xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .readyToFindContainer {
    font-size: var(--font-size-5xl);
    line-height: 39px;
  }
  .emailOutreachprojectluxaor {
    font-size: var(--font-size-lg);
  }
  .readyToFindOutMoreParent {
    gap: var(--gap-5xl);
  }
  .callUs123 {
    font-size: var(--font-size-lg);
  }
  .fAQs {
    gap: var(--gap-xl);
    min-width: 100%;
  }
  .services {
    font-size: var(--font-size-xl);
  }
  .scopeEmissionManagement {
    gap: var(--gap-mid);
  }
  .callUs {
    gap: var(--gap-lgi);
  }
  .dataAnalyticsInsights {
    gap: var(--gap-mid);
  }
  .partners,
  .resources {
    font-size: var(--font-size-xl);
  }
  .luxaTechnologiesIncContainer {
    font-size: var(--font-size-lg);
  }
  .linkedInTwitterFacebookWha {
    flex-wrap: wrap;
  }
  .footer {
    gap: var(--gap-xl);
  }
}
