.environmentalImpactAssessmenChild {
  width: 1920px;
  height: 538px;
  position: relative;
  background-color: var(--color-mintcream);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.luxa {
  color: var(--color-white);
  border-radius: var(--br-3xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  text-align: center;
  align-items: center;
  font-family: "ClashDisplay-Bold" ,sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 50px; */
}
.gettingStartedWithContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  z-index: 2;
  font-family: inherit;
}
.footerFrame {
  /* align-self: stretch;
  width: 141px;
  position: relative;
  border-radius: var(--br-3xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  z-index: 1;
  margin-left: -300px; */
}
.gettingStartedWithLuxaEmisParent {
  /* width: 970px;
  height: 54px; */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.contactUsToday {
  width: 1313px;
  height: 100px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 50px;
  font-family: var(--font-dm-sans);
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.frameChild {
  height: 57px;
  width: 194px;
  position: relative;
  border-radius: var(--br-8xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  display: none;
}
.requestADemo {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-dm-sans);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-4xl) var(--padding-mid)
    var(--padding-8xl);
  background-color: transparent;
  border-radius: var(--br-8xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.headerFrameChild {
  height: 57px;
  width: 189px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 2px solid var(--primary-linear-color);
  box-sizing: border-box;
  display: none;
}
.contactAnExpert {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-dm-sans);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  z-index: 2;
}
.headerFrame,
.ourStory {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.headerFrame {
  cursor: pointer;
  border: 2px solid var(--primary-linear-color);
  padding: var(--padding-mid) var(--padding-3xs) var(--padding-mid)
    var(--padding-mini);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  align-items: center;
  min-width: 123px;
  z-index: 1;
}
.headerFrame:hover {
  background-color: var(--color-seagreen-300);
  border: 2px solid var(--color-seagreen-100);
  box-sizing: border-box;
}
.ourStory {
  width: 422px;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-20xl);
  max-width: 100%;
}
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  border: 10px solid var(--primary-linear-color);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.group12160252371 {
  position: absolute;
  width: calc(100% - 18px);
  /* top: 13px; */
  right: 10px;
  left: 8px;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  height: 206px;
  object-fit: cover;
  z-index: 2;
}
.frameInner,
.rectangleGroup {
  position: absolute;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  border: 10px solid var(--primary-linear-color);
  box-sizing: border-box;
}
.rectangleGroup {
  top: 279px;
  left: 589px;
  width: 469px;
  height: 228px;
  z-index: 1;
}
.frameInner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.group12160252361 {
  position: absolute;
  height: calc(100% - 21px);
  top: 10px;
  bottom: 11px;
  left: 198px;
  max-height: 100%;
  width: 317px;
  object-fit: cover;
  z-index: 1;
}
.rectangleContainer {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  border: 10px solid var(--primary-linear-color);
  box-sizing: border-box;
  width: 703px;
  height: 416px;
}
.frameParent {
  height: 507px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.environmentalImpactAssessmenInner {
  width: 1058px;
  margin: 0 !important;
  position: absolute;
  right: 317px;
  bottom: -328px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  z-index: 1;
}
.dataAnalyticsInsights,
.environmentalImpactAssessmen {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.environmentalImpactAssessmen {
  background-color: var(--color-mintcream);
  justify-content: flex-start;
  padding: var(--padding-23xl) var(--padding-6xl) var(--padding-223xl)
    var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-2xl);
}
.dataAnalyticsInsights {
  justify-content: center;
  /* min-height: 939px; */
  margin-top: 100px;
  margin-bottom: 400px;
  text-align: center;
  font-size: var(--font-size-26xl);
  color: var(--color-black);
  font-family: var(--font-clash-display);
}
@media screen and (max-width: 1440px) {
  .environmentalImpactAssessmenInner{
    right:0;
    bottom: -385px;
  }
  .gettingStartedWithContainer {
    font-size: var(--font-size-17xl);
    line-height: 40px;
  }
  .environmentalImpactAssessmen {
    padding-top: var(--padding-8xl);
    padding-bottom: var(--padding-138xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1280px) {
  .environmentalImpactAssessmenInner{
    right: 0;
    bottom: -385px;
  }
  .gettingStartedWithContainer {
    font-size: var(--font-size-17xl);
    line-height: 40px;
  }
  .environmentalImpactAssessmen {
    padding-top: var(--padding-8xl);
    padding-bottom: var(--padding-138xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .gettingStartedWithContainer {
    font-size: var(--font-size-17xl);
    line-height: 40px;
  }
  .environmentalImpactAssessmen {
    padding-top: var(--padding-8xl);
    padding-bottom: var(--padding-138xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 450px) {
  .luxa{
    font-size: 28px;
  }
  .contactUsToday{
    height: 100%;
    width: 100%;
    font-size: 20px;
    line-height: 25px;
  }
  .rectangleContainer{
    height: 300px;
    width: 300px;
    left: 40px;
  }
  .group12160252361{
    width: 90%;
    left: 7px;
  }
  .contactAnExpert{
    font-size: 12px;
  }
  .gettingStartedWithContainer {
    font-size: var(--font-size-8xl);
    line-height: 30px;
  }
  .ourStory {
    gap: var(--gap-lgi);
  }
}

