.rectangleShapeChild {
  width: 1920px;
  height: 538px;
  position: relative;
  background-color: var(--color-mintcream);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.luxa {
  color: var(--color-white);
}
.gettingStartedWithContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  z-index: 2;
  font-family: inherit;
}
.contactUs {
  align-self: stretch;
  width: 147px;
  position: relative;
  border-radius: var(--br-3xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  z-index: 1;
  margin-left: -341px;
}
.luxaAnalytics,
.seamlesslyIntegrate {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.seamlesslyIntegrate {
  align-self: stretch;
  flex: 1;
  align-items: center;
}
.luxaAnalytics {
  width: 776px;
  height: 54px;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-3xs);
  box-sizing: border-box;
}
.contactUsToday {
  align-self: stretch;
  height: 100px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 50px;
  font-family: var(--font-dm-sans);
  display: inline-block;
  z-index: 1;
}
.gettingStarted {
  width: 1308px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.frameChild {
  height: 57px;
  width: 194px;
  position: relative;
  border-radius: var(--br-8xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  display: none;
}
.requestADemo1 {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-dm-sans);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-4xl) var(--padding-mid)
    var(--padding-8xl);
  background-color: transparent;
  border-radius: var(--br-8xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.groupRegistrationChild {
  height: 57px;
  width: 189px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 2px solid var(--primary-linear-color);
  box-sizing: border-box;
  display: none;
}
.contactAnExpert {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-dm-sans);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  z-index: 2;
}
.groupRegistration {
  cursor: pointer;
  border: 2px solid var(--primary-linear-color);
  padding: var(--padding-mid) var(--padding-3xs) var(--padding-mid)
    var(--padding-mini);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 123px;
  z-index: 1;
}
.groupRegistration:hover {
  background-color: var(--color-seagreen-300);
  border: 2px solid var(--color-seagreen-100);
  box-sizing: border-box;
}
.groupFrame,
.requestADemo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.requestADemo {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-20xl);
}
.groupFrame {
  width: 438px;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
}
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  border: 10px solid var(--primary-linear-color);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.group12160252371 {
  position: absolute;
  width: calc(100% - 18px);
  top: 13px;
  right: 10px;
  left: 8px;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  height: 206px;
  object-fit: cover;
  z-index: 2;
}
.frameInner,
.rectangleGroup {
  position: absolute;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  border: 10px solid var(--primary-linear-color);
  box-sizing: border-box;
}
.rectangleGroup {
  top: 279px;
  left: 589px;
  width: 469px;
  height: 228px;
  z-index: 1;
}
.frameInner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.group12160252361 {
  position: absolute;
  height: calc(100% - 21px);
  top: 10px;
  bottom: 11px;
  left: 198px;
  max-height: 100%;
  width: 317px;
  object-fit: cover;
  z-index: 1;
}
.rectangleContainer {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  border: 10px solid var(--primary-linear-color);
  box-sizing: border-box;
  width: 703px;
  height: 416px;
}
.demoRequestFrame {
  height: 507px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.demoRequestFrameWrapper {
  width: 1058px;
  margin: 0 !important;
  position: absolute;
  right: 316px;
  bottom: -357px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  z-index: 1;
}
.howDoesDataContribute,
.rectangleShape {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.rectangleShape {
  background-color: var(--color-mintcream);
  justify-content: flex-start;
  padding: var(--padding-25xl) var(--padding-17xl) var(--padding-203xl)
    var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-24xl);
}
.howDoesDataContribute {
  justify-content: center;
}
.faqsAboutData,
.howDoesData {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-family: inherit;
}
.faqsAboutData {
  font-weight: 400;
  display: inline-block;
  max-width: 100%;
}
.howDoesData {
  font-weight: 500;
}
.groupIcon {
  height: 3px;
  width: 23px;
  position: relative;
}
.howDoesDataAnalyticsContriParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.dataAnalyticsPlays,
.lineIcon {
  align-self: stretch;
  position: relative;
}
.dataAnalyticsPlays {
  height: 64px;
  font-size: var(--font-size-lg);
  line-height: 32px;
  color: var(--color-darkslategray);
  display: inline-block;
}
.lineIcon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.howDoI {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 400;
  font-family: inherit;
}
.frameChild1 {
  height: 23px;
  width: 23px;
  position: relative;
}
.howDoIRegisterMyFirstProParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameChild2 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.doesLuxaLeed {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 400;
  font-family: inherit;
}
.frameChild3 {
  height: 23px;
  width: 23px;
  position: relative;
}
.doesLuxaLeedSoftwareWorkFParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameChild4 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.doYouOffer {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 400;
  font-family: inherit;
}
.frameChild5 {
  height: 23px;
  width: 23px;
  position: relative;
}
.doYouOfferATrialOfTheSoParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameChild6 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.imSoldHow {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 400;
  font-family: inherit;
}
.frameChild7 {
  height: 23px;
  width: 23px;
  position: relative;
}
.imSoldHowDoIActivateMyParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameChild8 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.whatKindOf {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 400;
  font-family: inherit;
}
.frameChild9 {
  height: 23px;
  width: 23px;
  position: relative;
}
.whatKindOfSupportWillMyTParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameChild10 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.willIStill {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 400;
  font-family: inherit;
}
.frameChild11 {
  height: 23px;
  width: 23px;
  position: relative;
}
.willIStillHaveAccessToMyParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.dataAnalyticsPlaysACrucialParent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-xl);
  color: var(--color-black);
}
.dataAnalyticsPlaysACrucialParent,
.faqFrame,
.faqs,
.howDataContributesSustainab {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.howDataContributesSustainab {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-mini);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--primary-linear-color);
  font-family: var(--font-dm-sans);
}
.faqFrame,
.faqs {
  align-items: center;
  max-width: 100%;
}
.faqs {
  width: 1358px;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-59xl);
}
.faqFrame {
  align-self: stretch;
  gap: var(--gap-411xl);
  min-height: 1985px;
  text-align: center;
  font-size: var(--font-size-26xl);
  color: var(--color-black);
  font-family: var(--font-clash-display);
}
@media screen and (max-width: 1125px) {
  .faqFrame {
    gap: var(--gap-196xl);
  }
}
@media screen and (max-width: 800px) {
  .gettingStartedWithContainer {
    font-size: var(--font-size-17xl);
    line-height: 40px;
  }
  .rectangleShape {
    gap: var(--gap-2xl);
    padding-top: var(--padding-10xl);
    padding-bottom: var(--padding-125xl);
    box-sizing: border-box;
  }
  .faqsAboutData {
    font-size: var(--font-size-17xl);
    line-height: 40px;
  }
  .faqs {
    gap: var(--gap-20xl);
  }
  .faqFrame {
    gap: var(--gap-88xl);
  }
}
@media screen and (max-width: 450px) {
  .gettingStartedWithContainer {
    font-size: var(--font-size-8xl);
    line-height: 30px;
  }
  .requestADemo {
    gap: var(--gap-lgi);
  }
  .faqsAboutData {
    font-size: var(--font-size-8xl);
    line-height: 30px;
  }
  .doYouOffer,
  .doesLuxaLeed,
  .howDoI,
  .howDoesData,
  .imSoldHow,
  .whatKindOf,
  .willIStill {
    font-size: var(--font-size-xl);
    line-height: 40px;
  }
  .faqs {
    gap: var(--gap-lgi);
  }
}
