.frameDataAnalyticsInsightsChild {
  width: 1920px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  /* display: block; */
  max-width: 100%;
  background-image: url('/rectangle-51@2x.png');
}
.connectWithConstruction,
.joinTheLuxa {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.joinTheLuxa {
  line-height: 80px;
}
.connectWithConstruction {
  height: 78px;
  flex: 1;
}
.contactUsOurStoryPrivacyP {
  width: 1674px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-11xl);
  font-family: var(--font-dm-sans);
}
.frameChild {
  height: 57px;
  width: 198px;
  position: relative;
  border-radius: var(--br-8xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  display: none;
}
.joinCommunity {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-dm-sans);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-5xl) var(--padding-mid)
    var(--padding-10xl);
  background-color: transparent;
  border-radius: var(--br-8xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.frameDataAnalyticsInsights,
.reporting {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
  background-image: url('/rectangle-51@2x.png');

}
.frameDataAnalyticsInsights {
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-98xl) var(--padding-39xl) var(--padding-39xl);
  gap: var(--gap-11xl);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.reporting {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  /* padding: 0 0 var(--padding-142xl); */
  text-align: center;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
  font-family: var(--font-clash-display);
}
@media screen and (max-width: 1325px) {
  .frameDataAnalyticsInsights {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .joinTheLuxa {
    font-size: var(--font-size-29xl);
    line-height: 64px;
  }
  .connectWithConstruction {
    font-size: var(--font-size-5xl);
  }
  .frameDataAnalyticsInsights {
    gap: var(--gap-mini);
    padding-top: var(--padding-57xl);
    padding-bottom: var(--padding-19xl);
    box-sizing: border-box;
  }
  .reporting {
    padding-bottom: var(--padding-86xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .joinTheLuxa {
    font-size: var(--font-size-17xl);
    line-height: 48px;
  }
  .connectWithConstruction {
    font-size: var(--font-size-lg);
  }
}
