.group12160252422 {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.066);
}
.wrapperGroup12160252422 {
  height: 330px;
  width: 527px;
  position: relative;
  border-radius: var(--br-mini);
  display: flex;
  align-items: center;
  justify-content: center;
}
.environmentalImpactAssessmen {
  margin: 0;
  align-self: stretch;
  height: 100px;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.exploreLuxasDetailed {
  width: 560px;
  height: 81px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 27px;
  font-family: var(--font-dm-sans);
  color: var(--color-darkslategray);
  display: inline-block;
  max-width: 100%;
}
.environmentalImpactAssessmenParent {
  width: 631px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 631px;
  max-width: 100%;
}
.text,
.wrapperGroup12160252422Parent {
  align-self: stretch;
  box-sizing: border-box;
}
.wrapperGroup12160252422Parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
  gap: var(--gap-xl);
  max-width: 100%;
}
.text {
  height: 2px;
  position: relative;
  border-top: 2px solid var(--light-blue-gray);
}
.luxa {
  color: var(--color-white);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  border-radius: var(--br-3xs);
  padding: 5px;
  font-family: "ClashDisplay-Bold" ,sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}
.optimizeYourBusinessContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  z-index: 1;
  font-family: inherit;
}
.frame {
  align-self: stretch;
  width: 127px;
  position: relative;
  border-radius: var(--br-3xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  margin-left: -124px;
}
.group,
.textParent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.group {
  flex: 1;
  flex-direction: row;
}
.textParent {
  width: 1189px;
  height: 143px;
  flex-direction: column;
  gap: var(--gap-70xl);
  text-align: center;
  font-size: var(--font-size-21xl);
}
.frameParent,
.groupParent {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.groupParent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-50xl);
  font-size: var(--font-size-lg);
}
.frameParent {
  width: 1358px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-62xl);
  min-height: 967px;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--font-clash-display);
}
@media screen and (max-width: 1225px) {
  .environmentalImpactAssessmenParent,
  .group12160252422 {
    flex: 1;
  }
  .wrapperGroup12160252422Parent {
    flex-wrap: wrap;
  }
  .textParent {
    gap: var(--gap-25xl);
  }
}
@media screen and (max-width: 750px) {
  .environmentalImpactAssessmen {
    font-size: var(--font-size-9xl);
    line-height: 40px;
  }
  .environmentalImpactAssessmenParent {
    min-width: 100%;
  }
  .optimizeYourBusinessContainer {
    font-size: var(--font-size-13xl);
    line-height: 40px;
  }
  .textParent {
    gap: var(--gap-3xl);
  }
  .groupParent {
    gap: var(--gap-15xl);
  }
  .frameParent {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 450px) {
  .luxa{
    font-size: 20px;
  }
  .environmentalImpactAssessmen {
    font-size: var(--font-size-2xl);
    line-height: 30px;
  }
  .optimizeYourBusinessContainer {
    font-size: var(--font-size-5xl);
    line-height: 30px;
  }
  .groupParent {
    gap: var(--gap-mid);
  }
  .frameParent {
    gap: var(--gap-xl);
  }
}
