/* @import url('../'); */
.luxa {
  color: var(--color-white);
  font-weight: 700;
  font-size: 60px;

  font-family: 'ClashDisplay-Bold', sans-serif; 
  border-radius: var(--br-3xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
}
.welcomeToLuxaContainer {
  margin: 0;
  position: absolute;
  /* top: 2px;
  left: 0; */
  font-size: 60px;
  line-height: 80px;
  white-space: pre-wrap;
  /* display: inline-block; */
  width: 100%;
  height: 100%;
  /* z-index: 2; */
  font-family: Clash Display;
}
.contactForm,
.discoverAPowerful {
  align-self: stretch;
  height: 322px;
  position: relative;
}
.discoverAPowerful {
  height: 135px;
  line-height: 27px;
  display: inline-block;
  z-index: 2;
}
.frameChild {
  height: 57px;
  width: 194px;
  position: relative;
  border-radius: var(--br-8xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  display: none;
}
.groupInput {
  margin: 0;
  height:12px;
  width: 12px;
  position: relative;
  z-index: 1;
}
.iconOfscheduleACall{
  border-radius: 50%;
  background-color: #FFFFFF;
  height: 19px;
  width: 19px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.scheduleACall {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-dm-sans);
  text-align: left;
  z-index: 1;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-xs) var(--padding-mid)
    var(--padding-base);
  background-color: transparent;
  border-radius: var(--br-8xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
  white-space: nowrap;
  z-index: 2;
  color: var(--color-white);

}
.frameItem {
  height: 57px;
  width: 154px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 2px solid var(--primary-linear-color);
  box-sizing: border-box;
  display: none;
}
.moreDetail {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-dm-sans);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  z-index: 1;
}
.line,
.rectangleGroup {
  display: flex;
  flex-direction: row;
}
.rectangleParent:hover{
  background: var(--color-seagreen-300);
  border: 2px solid var(--color-seagreen-100);
  box-sizing: border-box;
transition: all 0.5s ease-out;
color: #0D703C;
}
.rectangleGroup {
  cursor: pointer;
  border: 2px solid var(--primary-linear-color);
  padding: var(--padding-mid) var(--padding-5xl) var(--padding-mid)
    var(--padding-9xl);
  background-color: transparent;
  border-radius: var(--br-8xs);
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.rectangleGroup:hover {
  background-color: var(--color-seagreen-300);
  border: 2px solid var(--color-seagreen-100);
  box-sizing: border-box;
transition: all 0.5s ease-out;

}
.line {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  width: 100%;
}
.text1 {
  width: 658px;
  gap: var(--gap-16xl);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-dm-sans);
}
.contactFormParent,
.frameWrapper,
.text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.contactFormParent {
  align-self: stretch;
  gap: var(--gap-xl);
}
.frameWrapper {
  width: 696px;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  width: 696px;
}
.dashboardImage{
  width: 825px;
  Height:624px;
}
.dashboardDesignmainDashboard {
  height: 100%;
  flex: 1;
  width: 100%;
  overflow: hidden;
  width: 536px;
  z-index: 2;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: scale(1.036);
}
.wrapperDashboardDesignmainD {
  height: 624px;
  flex: 1;
  position: relative;
  border-radius: var(--br-lg);
  width: 825px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0px 0px 5.300000190734863px 6px #00000040; */
  /* background-image: url('/dashboard-designmain-dashboard-1@2x.png');
  background-repeat:no-repeat;
  background-size: contain; */
  background-color: #FFFFFF;
}
.frameParent,
.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.frameParent {
  flex: 1;
  /* align-items: flex-end; */
  gap: var(--gap-6xs);
}
.text {
  /* width: 1545px; */
  align-items: center;
  /* padding: 20px; */
  /* padding-left: 115px; */
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-black);
  font-family: var(--font-clash-display);
}
@media screen and (max-width: 1450px) {
  .frameWrapper {
    flex: 1;
    width: 100%;
  }
  .wrapperDashboardDesignmainD{
    height: auto; /* Adjust height as needed */
    width: 100%;
  }
  .dashboardImage{
    width: 525px;
    Height:424px;
  }
}
@media screen and (max-width: 1200px) {
  .frameParent{
    flex-wrap: wrap;
  }
  .frameWrapper {
    width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .contactForm{
    width: 400px;
  }
  .text{
    flex-direction: column;
  }
  .welcomeToLuxaContainer {
    font-size: var(--font-size-29xl);
    line-height: 64px;
    width: 90%;
    margin-left: 20px;
  }
  .text1 {
    gap: var(--gap-mid);
    align-items: center;
    justify-content: flex-start;
  }
  .dashboardDesignmainDashboard {
    width: 100%;
    min-height: 100%;
  }
  .dashboardImage{
    width: 328px;
    Height:255px;
    margin-left: 40px;
  }
  .discoverAPowerful{
    width: 350px;
    height: 251px;
    text-align: left;
    margin-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  .contactForm{
    width: 400px;
  }
  .wrapperDashboardDesignmainD {
      /* Adjust the height and width for small screens */
      width: 100%; /* Make the image fill the width of its container */
      height: 100%; /* Allow the height to adjust proportionally based on the width */
  }
  .text1 {
    gap: var(--gap-mid);
    align-items: center;
    justify-content: flex-start;
  }
  .text{
    flex-direction: column;
  }
  .dashboardDesignmainDashboard {
    width: 100%;
    min-height: 100%;
  }
  .dashboardImage{
    width: 328px;
    Height:255px;
    margin-left: 40px;

  }
  .discoverAPowerful{
    width: 350px;
    height: 251px;
    text-align: left;
    margin-left: 20px;
  }
}
@media screen and (max-width: 450px) {
  .contactForm{
    width: 400px;
  }
  .welcomeToLuxaContainer {
    font-size: var(--font-size-17xl);
    line-height: 48px;
    width: 90%;
    margin-left: 20px;
  }
  .line {
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    width: auto;
  }
  .text1 {
    gap: var(--gap-mid);
    align-items: center;
    justify-content: flex-start;
  }
  .dashboardDesignmainDashboard {
    width: 100%;
    min-height: 100%;
  }
  .dashboardImage{
    width: 328px;
    Height:255px;
    margin-left: 40px;

  }
  .discoverAPowerful{
    width: 350px;
    height: 251px;
    text-align: left;
    margin-left: 20px;
  }
  .text{
    flex-direction: column;
  }
}
