.wrapperGroup33400Child {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
}
.wrapperGroup33400 {
  margin-left: 50px;
  height: 314px;
  width: 602px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigatingTheComplexity {
  margin: 0;
  align-self: stretch;
  height: 100px;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.infrastructureProjectsPresen {
  width: 560px;
  height: 162px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 27px;
  font-family: var(--font-dm-sans);
  color: var(--color-darkslategray);
  display: inline-block;
  max-width: 100%;
}
.navigatingTheComplexityOfIParent,
.submit {
  display: flex;
  gap: var(--gap-xl);
  max-width: 100%;
}
.navigatingTheComplexityOfIParent {
  width: 636px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 636px;
}
.submit {
  gap: 50px;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 334px;
}
.emissionsTrackingAnd {
  margin: 0;
  align-self: stretch;
  height: 100px;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.drivingEnvironmentalExcellen {
  width: 560px;
  height: 135px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 27px;
  font-family: var(--font-dm-sans);
  color: var(--color-darkslategray);
  display: inline-block;
  max-width: 100%;
}
.callUsCTA,
.servicesFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.servicesFrame {
  align-self: stretch;
  gap: var(--gap-xl);
}
.callUsCTA {
  width: 599px;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  min-width: 599px;
}
.frameChild {
  height: 318px;
  width: 623px;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.fAQsFrame {
  height: 100%;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.wrapperFAQsFrame {
  height: 314px;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.callUsCTAParent,
.rectangleParent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.rectangleParent {
  width: 623px;
  border-radius: var(--br-3xs);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-2xl) var(--padding-10xs) 0;
  box-sizing: border-box;
  /* background-image: url(/rectangle-77@2x.png); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: top; */
  min-width: 623px;
}
.callUsCTAParent {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.callToActionButton,
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm);
  box-sizing: border-box;
  min-height: 338px;
  max-width: 100%;
}
.callToActionButton {
  min-height: 334px;
}
.group10000024891 {
  height: 344px;
  width: 635px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.wrapperRectangle78Child {
  height: 100%;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* transform: scale(1.189); */
}
.wrapperRectangle78 {
  height: 318px;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group10000024891Parent {
  flex: 0.9811;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xs) var(--padding-7xl) 0;
  box-sizing: border-box;
  /* background-image: url(/group-1000002489-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; */
  min-width: 413px;
  max-width: 100%;
}
.enhancingCollaborationAcross {
  margin: 0;
  align-self: stretch;
  height: 100px;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.luxaStreamlinesProject {
  width: 560px;
  height: 162px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 27px;
  font-family: var(--font-dm-sans);
  color: var(--color-darkslategray);
  display: inline-block;
  max-width: 100%;
}
.enhancingCollaboration,
.enhancingCollaborationWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.enhancingCollaboration {
  align-self: stretch;
  gap: var(--gap-xl);
}
.enhancingCollaborationWrapper {
  flex: 1;
  padding: 0 0 var(--padding-smi);
  box-sizing: border-box;
  min-width: 413px;
}
.frameParent,
.fullName {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.fullName {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-49xl);
  min-height: 361px;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-81xl);
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--font-clash-display);
}
@media screen and (max-width: 1325px) {

}
@media screen and (max-width: 800px) {
  .navigatingTheComplexity {
    font-size: var(--font-size-9xl);
    line-height: 40px;
  }
  .navigatingTheComplexityOfIParent {
    min-width: 100%;
  }
  .emissionsTrackingAnd {
    font-size: var(--font-size-9xl);
    line-height: 40px;
  }
  .callUsCTA,
  .group10000024891Parent,
  .rectangleParent {
    min-width: 100%;
  }
  .enhancingCollaborationAcross {
    font-size: var(--font-size-9xl);
    line-height: 40px;
  }
  .enhancingCollaborationWrapper {
    min-width: 100%;
  }
  .fullName {
    gap: var(--gap-15xl);
  }
  .frameParent {
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 450px) {
  .wrapperGroup33400Child{
    width: 356px;
    height: 206.37px;
    max-width:none;
    position: absolute;
    left: 268px;
    top: -10px;
  }
  .infrastructureProjectsPresen,.drivingEnvironmentalExcellen{
    height: 100%;
  }
  .submit{
    flex-direction: column-reverse;
  }
  .emissionsTrackingAnd,
  .enhancingCollaborationAcross,
  .navigatingTheComplexity {
    font-size: var(--font-size-2xl);
    line-height: 30px;
  }
  .fullName {
    gap: var(--gap-mid);
    flex-direction: column-reverse;
  }
  .luxaStreamlinesProject{
    height: 100%;
  }
  .frameParent {
    gap: var(--gap-6xl);
  }
  .callUsCTAParent{
    flex-direction: column;
  }
  .fAQsFrame{
    height: 306.85px;
    width: 371px;
    max-width:none;
    left: -28px;
  }
  .wrapperRectangle78Chil{
    transform: none;
    width: 371px;
    height: 345.27px;
  }
}
