.buttonFrameIcon {
  width: 40px;
  height: 40px;
  position: relative;
  object-fit: cover;
}
.advancedSustainabilityAnalyt {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.harnessDataDrivenSustainabi {
  align-self: stretch;
  height: 108px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 27px;
  font-family: var(--font-dm-sans);
  color: var(--color-darkslategray);
  display: inline-block;
}
.label,
.line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.line {
  align-self: stretch;
  gap: var(--gap-mini);
}
.label {
  flex: 1;
  gap: var(--gap-xl);
  min-width: 295px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-clash-display);
}
