.frameChild {
  height: 76px;
  /* width: 1352px; */
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.15);
  display: none;
  max-width: 100%;
}
.dropdownMenu {
  color: #333; /* Link color */
  position: absolute;
  top:110px;
  width: 519px;
  height: 235px;
  border-radius: 10px;
  background-color: #fff; /* Background color */
  padding: 8px 0; /* Padding */
  z-index: 3; /* Ensure the dropdown is on top of other content */
  box-shadow: 0px 3px 14px 0px #00000026;
  
}
.dropdownMenu2 {
  color: #333; /* Link color */
  position: absolute;
  top:110px;
  
  width: 700px;
  height: 235px;
  border-radius: 10px;
  background-color: #fff; /* Background color */
  padding: 8px 0; /* Padding */
  z-index: 3; /* Ensure the dropdown is on top of other content */
  box-shadow: 0px 3px 14px 0px #00000026;
  
}
.dropdownMenuforknowledget{
  color: #333; /* Link color */
  position: absolute;
  top:110px;
  width: 519px;
  height: 235px;
  border-radius: 10px;
  background-color: #fff; /* Background color */
  padding: 8px 0; /* Padding */
  z-index: 3; /* Ensure the dropdown is on top of other content */
  box-shadow: 0px 3px 14px 0px #00000026;
}
.subMenu{
  border-left: 1px solid #A6A6A6;
  position: absolute;
  top:110px;
  /* left: 300px; */
  right: 300px;
  width: 450px;
  height: 235px;
  border-radius: 0px;
  padding: 8px 0; /* Padding */
  z-index: 1000; /* Ensure the dropdown is on top of other content */
  /* box-shadow: 0px 3px 0px 0px #00000026; */

}
.subMenu ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
}

.subMenu ul li {
  padding:20px /* Padding for each menu item */
}

.subMenu ul li:hover {
  background: #B7D5C5; /* Background color on hover */
  transition: all 0.5s ease-out;
  font-weight: bold;
  /* Remove underline */

}

/* Optional: Style the links inside the dropdown */
.subMenu a {
  color: #333; /* Link color */
  text-decoration: none; /* Remove underline */
}

.subMenu a:hover {
  text-decoration: none;
  color: #0D703C; /* Underline on hover */
  
  transition: all 0.5s ease-out;

}
.dropdownMenuforknowledget ul{
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
}
.dropdownMenu ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
}
.dropdownMenu2 ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
}
.constraction{
  font-weight: 100;
}
.dropdownMenu  ul li {
  padding:20px /* Padding for each menu item */
}
 .dropdownMenu2 ul li {
  padding:20px /* Padding for each menu item */
}
.dropdownMenuforknowledget ul li{
  padding:20px
}
.dropdownMenu ul li:hover {
  background-color: #B7D5C5; /* Background color on hover */
  font-weight: bold;
  transition: all 0.5s ease-out;
}
.dropdownMenu2 ul li:hover {
  color: orange;
  transition: all 0.5s ease-out;
  font-weight: bold;
}
.dropdownMenuforknowledget ul li:hover {
  background-color: #B7D5C5; /* Background color on hover */
  font-weight: bold;
  transition: all 0.5s ease-out;
}
/* Optional: Style the links inside the dropdown */
 .dropdownMenu2 a {
  color: #333; /* Link color */
  text-decoration: none; /* Remove underline */
}
.dropdownMenu a {
  color: #333; /* Link color */
  text-decoration: none; /* Remove underline */
}
.dropdownMenu a:hover {
  color: #0D703C;
  text-decoration: none; /* Underline on hover */
}
.dropdownMenu2 a:hover {
  color: #0D703C;
  text-decoration: none; /* Underline on hover */
}
.colorLogoNoBackground {
  align-self: stretch;
  height: 34px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.colorLogoNoBackgroundWrapper {
  /* width: px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 25px;
  box-sizing: border-box;
}
.services,
.stroke3Icon {
  display: flex;
  position: relative;
  z-index: 1;
  
}
.stroke3Icon {
  width: 15px;
  height: 15px;
  padding-left: 10px;
  color: #fff;
  /* filter: invert(47%) sepia(3%) saturate(2981%) hue-rotate(93deg) brightness(95%) contrast(86%); */
}


.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0 var(--padding-8xs);
}
.servicesParent {
  flex-direction: row;
  align-items: flex-end;
  padding:28px;
  gap: var(--gap-xs);
  cursor: pointer;
}
.servicesParent:hover .group{
  color: orange;
  transition: all 0.5s ease-out;
  font-weight: bold;
}
.pricing,.company,.knowledgeCenter{
  padding: 28px;

}
.knowledgeCenter:hover{
  color: orange;
  font-weight: bold;
  transition: all 0.5s ease-out;
}
.company:hover{
  color: orange;
  font-weight: bold;
  transition: all 0.5s ease-out;
}
.pricing:hover{
  color: orange;
  font-weight: bold;
  transition: all 0.5s ease-out;

}
.resourcesParent:hover{
  color: orange;
  transition: all 0.5s ease-out;
}
.textbold{
font-weight: bold;
}
.activeLink{
color: orange;
font-weight: bold;

}
.services a{
  text-decoration: none;
  color: #454545;
}
.resources{
  text-decoration: none;
  color: #454545;
}
.pricing,
.resources,
.stroke2Icon {
  position: relative;
  z-index: 1;
}
.stroke2Icon {
  width: 8px;
  height: 4px;
}
.resourcesParent,
.stroke2Wrapper {
  display: flex;
  justify-content: flex-start;
}
.stroke2Wrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.resourcesParent {
  flex-direction: row;
  align-items: flex-end;
  padding: 28px;
  gap: var(--gap-xs);
  cursor: pointer;
}
.company,
.knowledgeCenter {
  position: relative;
  z-index: 1;
  /* padding: 28px; */
}
.knowledgeCenter {
  white-space: nowrap;
}
.stroke2Icon1 {
  width: 8px;
  height: 4px;
  position: relative;
  z-index: 1;
}
.stroke2Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}

.knowledgeCenterParent,
.polygon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* gap: var(--gap-6xs); */
}
.polygon {
  width: 630px;
  align-items: flex-start;
  /* padding: 25px; */
  box-sizing: border-box;
  /* gap: var(--gap-25xl); */
  max-width: 100%;
}
.login {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.frameItem {
  height: 37px;
  width: 167px;
  position: relative;
  border-radius: var(--br-8xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  display: none;
}
.iconlyboldarrowRight {
  height: 9.3px;
  width: 14px;
  position: relative;
  z-index: 1;
}
.requestADemo {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-dm-sans);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-5xs)
    var(--padding-2xs);
  background-color: transparent;
  border-radius: var(--br-8xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  white-space: nowrap;
  z-index: 1;
}
.rectangleGroup,
.rectangleParent,
.text,
.text1 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.text1 {
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-15xl);
  font-size: var(--font-size-xl);
  color: var(--color-seagreen-200);
  padding: 20px;
}
.rectangleParent,
.text {
  max-width: 100%;
}
.rectangleParent a{
  text-decoration: none;
  color: #454545;
}
.services:hover{
  text-decoration: none;
  color: orange;
}
.rectangleParent {
  width: 1352px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.15);
  align-items: center;
  justify-content: space-between;
  /* padding: var(--padding-lgi) var(--padding-xl) var(--padding-xl)
    var(--padding-mid); */
  box-sizing: border-box;
  gap: var(--gap-xl);
  z-index: 2;
}
.text {
  /* width: 90%; */
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-dm-sans);
}
@media(max-width: 1400) {
  .subMenu{
    right: 120px;
  }
}

/* Styles for small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Add styles for small devices here */
  .rectangleParent {
    flex-direction: column; /* Stack elements vertically */
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    position: absolute;
  }

  /* Style adjustments for smaller screens */
  .servicesParent,
  .resourcesParent,
  .company,
  .knowledgeCenterParent,
  .text1 {
    margin-top: 10px; /* Add some spacing between menu items */
  }

  /* Hide or show the dropdown menu based on screen size */
  .dropdownMenu,
  .dropdownMenu2,
  .dropdownMenuforknowledget,
  .subMenu {
    display: none; /* Hide dropdown menus initially */
  }

  /* Styles for the hamburger menu icon */
  .hamburger-menu {
    display: block; /* Show the hamburger menu icon */
  }

  /* Additional styles for the mobile menu */
  .mobile-menu {
    display: none; /* Initially hide the mobile menu */
    /* Style the mobile menu */
    /* You can add styles to position and style the mobile menu */
  }
}

/* Styles for medium devices (laptops, small desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Add styles for medium devices here */
  .polygon {
    gap: var(--gap-3xl);
  }
}

/* Styles for large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .polygon {
    /* display: none; */
  }
  .rectangleParent {
    width: 1000px;
  }
  .subMenu{
    right: 120px;
  }
  /* Add styles for large devices here */
}

/* Styles for extra large devices (large desktops) */
@media (min-width: 1200px) {
  /* Add styles for extra large devices here */
  .polygon {
    /* display: none; */
  }
  .rectangleParent {
    width: 1200px;
  }
  .subMenu{
    right: 240px
  }
}