@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DM-Sans-Regular.woff2') format('woff2'),
       url('/fonts/DM-Sans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DM-Sans-Medium.woff2') format('woff2'),
       url('/fonts/DM-Sans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DM-Sans-Bold.woff2') format('woff2'),
       url('/fonts/DM-Sans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplay-Medium.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplay-Bold.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  line-height: normal;
}
h1{
  /* color: #000; */
/* text-align: center; */
font-family: "Clash Display";
/* font-size: 45px; */
font-style: normal;
font-weight: 400;
line-height: 50px; /* 111.111% */
}
:root {
  /* fonts */
  --font-dm-sans: "DM Sans";
  --font-clash-display: "Clash Display";

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-41xl: 60px;
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;
  --font-size-26xl: 45px;
  --font-size-8xl: 27px;
  --font-size-16xl: 35px;
  --font-size-2xl: 21px;
  --font-size-9xl: 28px;
  --font-size-sm: 14px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --color-seagreen-100: #339663;
  --color-seagreen-200: #17773d;
  --primary-linear-color: #0d703c;
  --color-seagreen-300: rgba(51, 150, 99, 0.09);
  --color-seagreen-400: rgba(23, 119, 61, 0.1);
  --color-gray-100: #fffdfd;
  --color-gray-200: #989393;
  --color-gray-300: rgba(255, 255, 255, 0.2);
  --color-gray-400: rgba(255, 255, 255, 0.14);
  --color-gainsboro-100: #e8e7e7;
  --color-gainsboro-200: #d9d9d9;
  --color-black: #000;
  --color-darkslategray: #454545;
  --color-mintcream: #e8f2ec;
  --color-whitesmoke-100: #f2f2f2;
  --color-whitesmoke-200: #eee;
  --light-blue-gray: #96adc8;
  --orange: #d36135;

  /* Gaps */
  --gap-61xl: 80px;
  --gap-xl: 20px;
  --gap-21xl: 40px;
  --gap-22xl: 41px;
  --gap-6xl: 25px;
  --gap-15xl: 34px;
  --gap-89xl: 108px;
  --gap-8xl: 27px;
  --gap-35xl: 54px;
  --gap-17xl: 36px;
  --gap-lg: 18px;
  --gap-mid: 17px;
  --gap-20xl: 39px;
  --gap-lgi: 19px;
  --gap-30xl: 49px;
  --gap-5xl: 24px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-mini: 15px;
  --gap-411xl: 430px;
  --gap-88xl: 107px;
  --gap-196xl: 215px;
  --gap-59xl: 78px;
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-base: 16px;
  --gap-12xl: 31px;
  --gap-44xl: 63px;
  --gap-14xl: 33px;
  --gap-48xl: 67px;
  --gap-43xl: 62px;
  --gap-9xl: 28px;
  --gap-36xl: 55px;
  --gap-4xl: 23px;
  --gap-129xl: 148px;
  --gap-18xl: 37px;
  --gap-55xl: 74px;
  --gap-79xl: 98px;
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-25xl: 44px;
  --gap-3xl: 22px;
  --gap-smi: 13px;
  --gap-4xs: 9px;
  --gap-sm: 14px;
  --gap-10xl: 29px;
  --gap-50xl: 69px;
  --gap-103xl: 122px;
  --gap-11xl: 30px;
  --gap-42xl: 61px;
  --gap-38xl: 57px;
  --gap-62xl: 81px;
  --gap-13xl: 32px;
  --gap-63xl: 82px;
  --gap-54xl: 73px;
  --gap-49xl: 68px;
  --gap-141xl: 160px;
  --gap-xs: 12px;
  --gap-81xl: 100px;
  --gap-31xl: 50px;
  --gap-16xl: 35px;
  --gap-41xl: 60px;
  --gap-101xl: 120px;
  --gap-73xl: 92px;
  --gap-27xl: 46px;
  --gap-97xl: 116px;
  --gap-39xl: 58px;
  --gap-84xl: 103px;
  --gap-32xl: 51px;
  --gap-133xl: 152px;
  --gap-19xl: 38px;
  --gap-57xl: 76px;
  --gap-60xl: 79px;
  --gap-51xl: 70px;
  --gap-72xl: 91px;
  --gap-26xl: 45px;
  --gap-134xl: 153px;
  --gap-37xl: 56px;
  --gap-122xl: 141px;
  --gap-46xl: 65px;
  --gap-286xl: 305px;
  --gap-23xl: 42px;
  --gap-71xl: 90px;
  --gap-70xl: 89px;
  --gap-144xl: 163px;
  --gap-74xl: 93px;
  --gap-9xs: 4px;
  --gap-6xs: 7px;

  /* Paddings */
  --padding-52xl: 71px;
  --padding-xl: 20px;
  --padding-41xl: 60px;
  --padding-2xl: 21px;
  --padding-27xl: 46px;
  --padding-20xl: 39px;
  --padding-19xl: 38px;
  --padding-lgi: 19px;
  --padding-103xl: 122px;
  --padding-32xl: 51px;
  --padding-60xl: 79px;
  --padding-21xl: 40px;
  --padding-3xl: 22px;
  --padding-16xl: 35px;
  --padding-7xl: 26px;
  --padding-4xl: 23px;
  --padding-29xl: 48px;
  --padding-lg: 18px;
  --padding-26xl: 45px;
  --padding-10xs: 3px;
  --padding-120xl: 139px;
  --padding-25xl: 44px;
  --padding-17xl: 36px;
  --padding-203xl: 222px;
  --padding-10xl: 29px;
  --padding-125xl: 144px;
  --padding-base: 16px;
  --padding-mid: 17px;
  --padding-3xs: 10px;
  --padding-mini: 15px;
  --padding-8xl: 27px;
  --padding-xs: 12px;
  --padding-sm: 14px;
  --padding-8xs: 5px;
  --padding-9xl: 28px;
  --padding-smi: 13px;
  --padding-2xs: 11px;
  --padding-9xs: 4px;
  --padding-12xl: 31px;
  --padding-14xl: 33px;
  --padding-51xl: 70px;
  --padding-46xl: 65px;
  --padding-23xl: 42px;
  --padding-4xs: 9px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-7xs: 6px;
  --padding-6xl: 25px;
  --padding-223xl: 242px;
  --padding-138xl: 157px;
  --padding-13xl: 32px;
  --padding-12xs: 1px;
  --padding-105xl: 124px;
  --padding-229xl: 248px;
  --padding-142xl: 161px;
  --padding-5xl: 24px;
  --padding-15xl: 34px;
  --padding-87xl: 106px;
  --padding-18xl: 37px;
  --padding-22xl: 41px;
  --padding-86xl: 105px;
  --padding-98xl: 117px;
  --padding-39xl: 58px;
  --padding-57xl: 76px;
  --padding-54xl: 73px;
  --padding-226xl: 245px;
  --padding-11xl: 30px;
  --padding-140xl: 159px;
  --padding-30xl: 49px;
  --padding-24xl: 43px;
  --padding-37xl: 56px;
  --padding-104xl: 123px;
  --padding-33xl: 52px;
  --padding-61xl: 80px;
  --padding-127xl: 146px;
  --padding-76xl: 95px;
  --padding-11xs: 2px;
  --padding-34xl: 53px;
  --padding-205xl: 224px;
  --padding-28xl: 47px;
  --padding-179xl: 198px;
  --padding-178xl: 197px;
  --padding-110xl: 129px;
  --padding-79xl: 98px;
  --padding-109xl: 128px;
  --padding-163xl: 182px;
  --padding-58xl: 77px;
  --padding-99xl: 118px;
  --padding-152xl: 171px;
  --padding-66xl: 85px;
  --padding-53xl: 72px;
  --padding-224xl: 243px;
  --padding-260xl: 279px;
  --padding-198xl: 217px;
  --padding-360xl: 379px;
  --padding-227xl: 246px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-xs: 12px;
  --br-8xs: 5px;
  --br-2xs: 11px;
  --br-mini: 15px;
  --br-sm: 14px;
  --br-51xl: 70px;
  --br-smi: 13px;
  --br-lg: 18px;
}
