
.frameParent {
  width: 1406px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-24xl) 0 var(--padding-xl);
  box-sizing: border-box;
  min-height: 2733px;
  max-width: 100%;
} 


.resourcesConstructionType {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-51xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--primary-linear-color);
  font-family: var(--font-dm-sans);
}
.resourcesConstructionType {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.resourcesConstructionType.loaded{
  opacity: 1;
}
.faqsOnLeedCertificationManParent {
  width: 1358px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-59xl);
  /* margin-top:315px; */
  max-width: 100%;
  text-align: center;
  font-size: 25px;
  color: var(--color-black);
  font-family: var(--font-clash-display);
}
@media screen and (max-width: 1325px) {
  .frameParent {
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .resourcesConstructionType {
    gap: var(--gap-16xl);
  }
}
@media screen and (max-width: 800px) {
  .resourcesConstructionType {
    gap: var(--gap-mid);
  }
}
