.servicesScope123Emis {
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.5s ease, transform 0.5s ease; 
}
.servicesScope123Emis.loaded{
  opacity: 1;
  transform: translateY(0);
}
.luxa {
  color: var(--color-white);
}
.optimizeYourBusinessContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  z-index: 1;
  font-family: inherit;
}
.triangle {
  align-self: stretch;
  width: 133px;
  position: relative;
  border-radius: var(--br-3xs);
  background: linear-gradient(96.43deg, #0d703c, #a2d255);
  margin-left: -126px;
}
.separator,
.textComponent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.separator {
  height: 54px;
  flex-direction: row;
}
.textComponent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-62xl);
}
.inputFrame1,
.labelComponent {
  box-sizing: border-box;
  max-width: 100%;
}
.inputFrame1 {
  height: 2px;
  flex: 1;
  position: relative;
  border-top: 2px solid var(--light-blue-gray);
}
.labelComponent {
  width: 1199px;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-3xs);
}
.understandingScope1 {
  margin: 0;
  align-self: stretch;
  height: 100px;
  position: relative;
  font-size: var(--font-size-16xl);
  line-height: 50px;
  font-weight: 400;
  font-family: var(--font-clash-display);
  display: inline-block;
}
.learnMore,
.scope12 {
  position: relative;
  line-height: 27px;
}
.scope12 {
  align-self: stretch;
  height: 135px;
  color: var(--color-darkslategray);
  display: inline-block;
}
.learnMore {
  font-weight: 500;
  white-space: nowrap;
}
.textFrameChild {
  height: 14.7px;
  width: 32px;
  position: relative;
}
.groupSection,
.textFrame {
  display: flex;
  justify-content: flex-start;
}
.textFrame {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
  color: var(--primary-linear-color);
}
.groupSection {
  width: 560px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
  min-width: 560px;
  max-width: 100%;
}
.group12160252421 {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.072);
}
.wrapperGroup12160252421 {
  height: 303px;
  width: 484px;
  position: relative;
  border-radius: var(--br-mini);
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonComponent {
  width: 1204px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.group10000024881 {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.078);
}
.wrapperGroup10000024881 {
  height: 273px;
  width: 549px;
  position: relative;
  border-radius: var(--br-sm);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourComprehensiveEmission {
  margin: 0;
  align-self: stretch;
  height: 100px;
  position: relative;
  font-size: var(--font-size-16xl);
  line-height: 50px;
  font-weight: 400;
  font-family: var(--font-clash-display);
  display: inline-block;
}
.utilizingAdvancedAlgorithms {
  width: 560px;
  height: 108px;
  position: relative;
  line-height: 27px;
  color: var(--color-darkslategray);
  display: inline-block;
  max-width: 100%;
}
.learnMore1 {
  position: relative;
  line-height: 27px;
  font-weight: 500;
  white-space: nowrap;
}
.environmentalImpactAssessmenChild {
  height: 14.7px;
  width: 32px;
  position: relative;
}
.environmentalImpactAssessmen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  color: var(--primary-linear-color);
}
.lEEDCertification,
.scopeFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.scopeFrame {
  align-self: stretch;
  gap: var(--gap-xl);
}
.lEEDCertification {
  width: 627px;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 627px;
}
.labelComponent1,
.lineSeparator {
  align-self: stretch;
  align-items: flex-start;
}
.lineSeparator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.labelComponent1 {
  flex-direction: column;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
  gap: 135px;
}
.emailLink,
.inputFrame,
.labelComponent1,
.shape {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.inputFrame {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: 114px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-dm-sans);
}
.emailLink,
.shape {
  width: 1358px;
  align-items: flex-start;
  box-sizing: border-box;
}
.shape {
  flex-direction: column;
  padding: 0 var(--padding-xl);
  gap: 95px;
  min-height: 1424px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-clash-display);
}
.emailLink {
  flex-direction: row;
  padding: 0 var(--padding-12xl) 0 var(--padding-xl);
  min-height: 2013px;
}
.faqsAnsweringYour,
.whatAreScope {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-family: inherit;
}
.faqsAnsweringYour {
  font-weight: 400;
  display: inline-block;
  max-width: 100%;
}

.frameChild {
  height: 3px;
  width: 23px;
  position: relative;
}

.frameFrame {
  width: 1358px;
  align-items: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-59xl);
  /* margin-top:350px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* min-height: 1049px; */
  max-width: 100%;
  text-align: center;
  font-size:25px;
  color: var(--color-black);
  font-family: var(--font-clash-display);
}

/* .frameFrameEllipseLinkedIn {
  width: 1317px;
  height: 93px;
  gap: var(--gap-22xl);
  max-width: 100%;
  font-size: var(--font-size-3xl);
  color: var(--color-gainsboro-100);
  font-family: var(--font-dm-sans);
} */
.footer,
.servicesScope123Emis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.servicesScope123Emis {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .group12160252421,
  .groupSection {
    flex: 1;
  }
  .buttonComponent {
    flex-wrap: wrap;
  }
  .group10000024881,
  .lEEDCertification {
    flex: 1;
  }
  .lineSeparator {
    flex-wrap: wrap;
  }
  .labelComponent1 {
    gap: var(--gap-48xl);
  }
  .emailReachOutProjectParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {

  .emailReachOutProject {
    flex-wrap: wrap;
    gap: var(--gap-35xl);
  }
}
@media screen and (max-width: 750px) {
  .optimizeYourBusinessContainer {
    font-size: var(--font-size-13xl);
    line-height: 40px;
  }
  .textComponent {
    gap: var(--gap-21xl);
  }
  .understandingScope1 {
    font-size: var(--font-size-9xl);
    line-height: 40px;
  }
  .groupSection {
    min-width: 100%;
  }
  .ourComprehensiveEmission {
    font-size: var(--font-size-9xl);
    line-height: 40px;
  }
  .lEEDCertification {
    min-width: 100%;
  }
  .labelComponent1 {
    gap: var(--gap-15xl);
  }
  .inputFrame {
    gap: var(--gap-38xl);
  }
  .shape {
    gap: 47px;
  }

}
@media screen and (max-width: 450px) {
  .optimizeYourBusinessContainer {
    font-size: var(--font-size-5xl);
    line-height: 30px;
  }
  .textComponent {
    gap: var(--gap-xl);
  }
  .ourComprehensiveEmission,
  .understandingScope1 {
    font-size: var(--font-size-2xl);
    line-height: 30px;
  }
  .labelComponent1 {
    gap: var(--gap-mid);
  }
  .inputFrame {
    gap: var(--gap-9xl);
  }
  .shape {
    gap: var(--gap-5xl);
  }
  .faqsAnsweringYour {
    font-size: var(--font-size-8xl);
    line-height: 30px;
  }
  .whatAreScope {
    font-size: var(--font-size-xl);
    line-height: 40px;
  }
  .frameFrame {
    gap: var(--gap-lgi);
  }
  .dataAnalyticsFrames {
    gap: var(--gap-mid);
  }
  .eMRFrame {
    gap: var(--gap-lgi);
  }
  .servicesParent {
    gap: var(--gap-mid);
  }
  .partners,
  .resources {
    font-size: var(--font-size-xl);
  }
  .footer {
    gap: var(--gap-xl);
  }
}
